body {
    background-color: rgb(0, 0, 0);
    color:white;
}

#sideNav {
    display: flex;
    flex-direction: column;
    
    justify-content: space-evenly;
    height: 300px;
    width: 100px;
    border : solid 2px grey;
    margin-top: 25px;
}

.data {
    margin-left: 100px;
}