<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>404 - Page introuvable</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <header>
        <a class="brand tohover" href="/">PostHub</a>
    </header>
    <main>
            <article class="data">
                <h1>404 — Page introuvable</h1>
                <p>La page que tu cherches n'existe pas.</p>
                <a class="errorhover" href="/">Retour à l'accueil</a>
            </article>
    </main>
</body>
</html>
