{{ define "content" }}
    <main class="layout">
        <nav id="sideNav">
            <a href="" class="tohover">Populaires</a>
            <a href="/categories"class="tohover">Categories</a>
            <a href="/random"class="tohover">Page aleatoire</a>
            {{ if .IsLogged }}
            <a href="/posts/create" class="tohover">Créer un post</a>
            {{ else }}
            <a href="/login" class ="tohover">Connectez vous pour poster</a>
            {{ end }}
        </nav>

        <section class="feed">
            {{ range .Categories }}
            <article class="data">
                <h3>
                    <a href="/categories/{{ .ID }}">{{ .Name }}</a>
                </h3>
            </article>
            {{ else }}
            <p class="data">Rien pour le moment...</p>
            {{ end }}
        </section>
    </main>
{{ end }}