{{ define "content" }}
<main class="layout">
    <nav id="sideNav">
        <a href="/" class="tohover">Populaires</a>
        <a href="/categories"class="tohover">Categories</a>
        <a href="/random" class="tohover">Page aleatoire</a>
        {{ if .IsLogged }}
        <a href="/posts/create" class="tohover">Créer un post</a>
        {{ else }}
        <a href="/login" class ="tohover">Connectez vous pour poster</a>
        {{ end }}
    </nav>

    <section class="feed">
        {{ range .Posts }}
        <article class="data">
            <h3>
                <a href="/posts/{{ .ID }}">{{ .Title }}</a>
            </h3>
            <p>{{ .Content }}</p>
            <small>{{ .Author }} - {{ .Category }}</small>
        </article>
        {{ else }}
        <p class="data">Rien pour le moment... Soyez le premier à poster !</p>
        {{ end }}
    </section>
</main>

{{ end }}

