<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forum</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <header>
        <a href="index.tmpl">Forum name</a>
        <input type="text" placeholder="search...">
        <button type="submit"></button>
        <a href="register">S'inscrire</a>
        <a href="">Se connecter</a>
    </header>
    <div>
        <h1>populaires</h1>
        
    </div>

</body>
</html>