<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connexion</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body class="{{ if not .DarkMode }}light{{ end }}">
    <h1>Se connecter</h1>

    <form class="auth-form" method="POST" action="/login">
        <input type="email" name="email" placeholder="Email..."><br>
        <input type="password" name="password" placeholder="Mot de passe..."><br>
        <button type="submit">Confirmer</button>
    </form>
    <div class="auth-form oauth-form">
        <form class="oauth-provider-form" method="GET" action="/auth/github">
        <button type="submit" class="oauth-btn github-btn">
            <img class="logosOauth" src="/static/logos/GitHub_Invertocat_White.png" alt="github-logo">
            <span>Continuer avec GitHub</span>
        </button>
        </form>
        <form class="oauth-provider-form" method="GET" action="/auth/google">
        <button type="submit" class="oauth-btn github-btn">
            <img class="logosOauth" src="/static/logos/google_logo_.webp" alt="google-logo">
            <span>Continuer avec Google</span>
        </button>
        </form>
    </div>
    {{ if .Error }}
    <p class="errorText"> {{ .Error }} </p>
    {{ end }}
</body>
</html>
