<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connexion</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>login page in construction lol</h1>

    <form class="auth-form" method="POST" action="/login">
        <input type="email" name="email" placeholder="Email..."><br>
        <input type="password" name="password" placeholder="Mot de passe..."><br>
        <button type="submit">Confirmer</button>
    </form>
</body>
</html>
