{{ define "content" }}

    <h1>Créer un post</h1>
    <form class="post-create-form" action="/posts/create" method="POST" enctype="multipart/form-data">
        <label for="title">Titre</label>
        <input type="text" id="title" name="title" required>

        <label for="content">Contenu</label>
        <textarea id="content" class="comment" name="content" required></textarea>

        <label for="image">Ajouter Image</label>
        <input type="file" id="image" name="image" accept="image/png, image/jpeg, image/webp, image/gif">

        <div class="category-checkboxes">
            {{ range .Categories }}
            <label class="category-option" for="category-{{ .ID }}">
                <input type="checkbox" id="category-{{ .ID }}" name="categories" value="{{ .ID }}">
                <span>{{ .Name }}</span>
            </label>
            {{ end }}
        </div>

        {{ if .Error }}
            <p class="errorText">{{ .Error }}</p>
        {{ end }}

        <button type="submit">Publier</button>
    </form>
{{ end }}
