{{ define "content" }}
    
    <article class="post-detail">
    <h1>Modifier le post</h1>

    <form method="POST" action="/posts/{{ .Post.ID }}/edit">
        <input type="text" name="title" value="{{ .Post.Title }}" required>

        <textarea name="content" required>{{ .Post.Content }}</textarea>

        <button type="submit">Enregistrer</button>
    </form>
    </article>
{{ end }}
