<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <article>
        <h1>{{ .Title }}</h1>
        <p>{{ .Content }}</p>
        <small>
            Auteur : {{ .Author }} — Catégorie : {{ .Category }}
        </small>
    </article>
</body>
</html>