<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Créer un post</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>Créer un post</h1>
    <form class="post-create-form" action="/posts/create" method="POST">
        <label for="title">Titre</label>
        <input type="text" id="title" name="title" required>

        <label for="content">Contenu</label>
        <textarea id="content" class="comment" name="content" required></textarea>

        {{ range . }}
        <input type="checkbox" id="{{ .ID }}" name="categories" value="{{ .ID }}">
        <label for="category-{{ .ID }}">{{ .Name }}</label>
        {{ end }}

        <button type="submit">Publier</button>
    </form>
</body>
</html>
