<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <header>
        <a class="brand tohover" href="/">PostHub</a>
        <form class="search" action="/" method="GET">
            <input type="text" name="q" placeholder="Rechercher...">
            <button class="tohover" type="submit">OK</button>
        </form>
        <nav class="authNav">
            {{ if .IsLogged }}
            <form method="POST" action="/logout">
                <button class="tohover" type="submit">Se déconnecter</button>
            </form>
            {{ else }}
            <a class="tohover" href="/register">S'inscrire</a>
            <a class="tohover" href="/login">Se connecter</a>
            {{ end }}
        </nav>
    </header>
    
    <article class="post-detail">
    <h1>Modifier le post</h1>

    <form method="POST" action="/posts/{{ .Post.ID }}/edit">
        <input type="text" name="title" value="{{ .Post.Title }}" required>

        <textarea name="content" required>{{ .Post.Content }}</textarea>

        <button type="submit">Enregistrer</button>
    </form>
    </article>
</body>
</html>
